@page "/login"
@inject AuthService Auth
@inject NavigationService NavService
@inject NavigationManager DebugNav

<h3>Login</h3>

<div>
    <label>Email</label>
    <input @bind="email" placeholder="Email" type="email" />
</div>
<div>
    <label>Password</label>
    <input @bind="password" placeholder="Password" type="password" />
</div>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <p style="color:red">@errorMessage</p>
}

<button @onclick="HandleLogin">Login</button>


<p>Don't have an account? <a @onclick="GoToRegister" style="cursor:pointer;color:#2e7d32;font-weight:600;">Register</a></p>

@code {
    private string email = string.Empty;
    private string password = string.Empty;
    private string errorMessage = string.Empty;

    private async Task HandleLogin()
    {
        var success = await Auth.Login(email, password);
        if (success)
            NavService.NavigateTo("");
        else
            errorMessage = "Invalid email or password.";
    }

    private void GoToLogin() => NavService.NavigateTo("login");
    private void GoToRegister() => NavService.NavigateTo("register");
}